django==4.0.5
django-widget-tweaks
django-crispy-forms
django-filter
django-ckeditor==6.5.1
django_crontab
requests
django_tables2
gunicorn
django-safe-settings
django-environ
oauthlib
wrapt
requests_oauthlib
deprecated
PyJWT
cryptography
xlrd==1.2.0
crispy-bootstrap4
xmltodict
paramiko


djangorestframework

